[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
forex-python = "*"
requests = "*"
djangorestframework = "*"
install = "*"
channels = {extras = ["daphne"], version = "*"}
celery = "*"
django-sslserver = "*"
django-werkzeug-debugger-runserver = "*"

[dev-packages]

[requires]
python_version = "3.12"
