{% extends 'base.html' %} 


{% block page_content %} 

<div class="row m-2">
        {% if user %}
        <div class="card mt-5">
            <div class="card-body">
                <div class="row">
                    {%block details %}
                        {% include 'user-details.html' with user=user %}
                    {% endblock %}
                </div>

                <div class="row">
                    {%block payments_history %}
                        {% include 'payments_history.html' with payments=payments user=user%}
                    {% endblock %}
                
                    {%block requested_payments %}
                        {% include 'requested-payments.html' with payment_requests=payment_requests user=user%}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="jumbotron mt-5">
            <h1>Welcome!</h1>
            <p class="lead">Please <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a> or <a href="{% url 'signup' %}" class="btn btn-success btn-lg">Signup</a> to continue.</p>
        </div>
        {% endif %}
</div>

{% endblock page_content %}