{% extends 'base.html' %} 

{% block page_content %} 

<div class="row">
        {% if user %}
        <div class="card mt-5">
            <div class="card-header">
                {% block bar %}
                   {% include "links.html" %}
                {% endblock %}
            </div>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                    {{ field|title }}: {{ errors|join:', ' }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="card-body">
                <div class="row">
                    <div class="card col-md-5 col-sm-12 m-3">
                        <div class="card-header">
                            <h3 class="text-center">Profile</h3>
                        </div>
                        <div class="card-body m-2">
                            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                            <p><strong>Email:</strong> {{ user.email }}</p>
                            <p><strong>Balance:</strong> <span class="badge text-light bg-primary">
                                {{ user.balance }} {{ user.currency }}
                            </span></p>
                        </div>
                    </div>
                    <div class="card col-md-5 col-sm-12 m-3">
                        <div class="card-header">
                            <h3 class="text-center">Requested Payments</h3>
                        </div>
                        <div class="card-body mt-4">
                            <ul class="list-group">
                            </ul>
                        </div>        
                    </div>
                </div>                
                <div class="card mt-4">
                    <div class="card-header">
                        <h3 class="text-center">Payments History</h3>
                    </div>
                    <ul class="card-body list-group">
                        {% for transaction in payments %}
                            {% if transaction.sender.email == user.email %}
                            <li class="list-group-item mt-2">
                                <h3>{{ transaction.recipient.email }}</h3>
                                <p>Transfer Complete -{{ transaction.amount }} {{ transaction.currency }}</p>
                            </li>
                            {% else %}
                            <li class="list-group-item mt-2">
                                <h3>{{ transaction.sender.email }}</h3>
                                <p>Received +{{ transaction.amount }} {{ transaction.currency }}</p>
                            </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="jumbotron mt-5">
            <h1>Welcome!</h1>
            <p class="lead">Please <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a> or <a href="{% url 'signup' %}" class="btn btn-success btn-lg">Signup</a> to continue.</p>
        </div>
        {% endif %}
</div>

{% endblock page_content %}

<script>
// Example WebSocket client code using JavaScript
const ws = new WebSocket('ws://localhost:8000/ws/payment/');

ws.onopen = () => {
    console.log('WebSocket connection established.');
};

ws.onmessage = (event) => {
    const data = JSON.parse(event.data);
    if (data.type === 'payment_received') {
        // Handle payment received event
        const payment = data.payment;
        console.log('Received payment:', payment);
        if (payment.recipient_id == user.pk){
            alert(`Payment Received!`)
            window.location.href = "/"
        }
        // Update UI accordingly
    }
};

</script>