<div class="card col-md-5 col-sm-12 m-3">
  <div class="card-header">
    <h3 class="text-center">Payments History</h3>
  </div>
  <ul class="card-body list-group">
    {% for transaction in payments %} 

    {% if transaction.sender.email == user.email %}
    <li class="list-group-item mt-2 bg-red-100">
      <h3>{{ transaction.recipient.email }}</h3>
      {% block transaction1 %}
        {% include 'show_transaction.html' with transaction=transaction sign="-" %}
      {% endblock %}
    </li>
    {% else %}
    <li class="list-group-item mt-2 bg-green-100">
      <h3>{{ transaction.sender.email }}</h3>
      {% block transaction2 %}
        {% include 'show_transaction.html' with transaction=transaction sign="+" %}
      {% endblock %}
    </li>
    {% endif %} 
    
    {% endfor %}
  </ul>
</div>
